<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小米6立即购买-小米商城</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/xiangqing.css">
		<script type="text/javascript" src="/js/xiangqing.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	</head>
	<body>
	<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="http://www.mi.com/" target="_blank">小米商城</a></li>
						<li>|</li>
						<li><a href="">MIUI</a></li>
						<li>|</li>
						<li><a href="">米聊</a></li>
						<li>|</li>
						<li><a href="">游戏</a></li>
						<li>|</li>
						<li><a href="">多看阅读</a></li>
						<li>|</li>
						<li><a href="">云服务</a></li>
						<li>|</li>
						<li><a href="">金融</a></li>
						<li>|</li>
						<li><a href="">小米商城移动版</a></li>
						<li>|</li>
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="">购物车</a></div>
					<div class="fr">
						<ul>
							<li><a href="./login.html" target="_blank">登录</a></li>
							<li>|</li>
							<li><a href="./register.html" target="_blank" >注册</a></li>
							<li>|</li>
							<li><a href="">消息通知</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					<li><a href="">小米手机</a></li>
					<li><a href="">红米</a></li>
					<li><a href="">平板·笔记本</a></li>
					<li><a href="">电视</a></li>
					<li><a href="">盒子·影音</a></li>
					<li><a href="">路由器</a></li>
					<li><a href="">智能硬件</a></li>
					<li><a href="">服务</a></li>
					<li><a href="">社区</a></li>
				</ul>
			</div>
			<div class="search fr">
				<form action="" method="post">
					<div class="text fl">
						<input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
					</div>
					<div class="submit fl">
						<input type="submit" class="sousuo" value="搜索"/>
					</div>
					<div class="clear"></div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
<!-- end banner_x -->

	
	<!-- xiangqing -->
	<form action="post" method="">
	<div class="xiangqing">
		<!--<div class="neirong w">-->
			<!--<div class="xiaomi6 fl">小米6</div>-->
			<!--<nav class="fr">-->
				<!--<li><a href="">概述</a></li>-->
				<!--<li>|</li>-->
				<!--<li><a href="">变焦双摄</a></li>-->
				<!--<li>|</li>-->
				<!--<li><a href="">设计</a></li>-->
				<!--<li>|</li>-->
				<!--<li><a href="">参数</a></li>-->
				<!--<li>|</li>-->
				<!--<li><a href="">F码通道</a></li>-->
				<!--<li>|</li>-->
				<!--<li><a href="">用户评价</a></li>-->
				<!--<div class="clear"></div>-->
			<!--</nav>-->
			<!--<div class="clear"></div>-->
		<!--</div>	-->
	</div>
	
	<div class="jieshao mt20 w">

		<div class="I-info w-1200 cfix">
			<!-- 图片 -->
			<div class="info-img">
				<div class="big-show">
					<img width="340" height="340" src="http://img9.hqbcdn.com/product/75/0c/750c3e46664209e94252dfd23f9110f6.340.jpg" alt="" />
				</div>
				<div class="thurb-box">
					<a href="javascript:;" class="sl-btn sl-prev "></a>
					<a href="javascript:;" class="sl-btn sl-next "></a>
					<div class="thurb-sl">
						<ul class="cfix" style="width: 280px;" name="imgSrcs">
							<li class="" name="imgSrc"  data-src="http://img9.hqbcdn.com/product/5d/9d/5d9d13ec7d323bbfb891e5faf0303d83.340.jpg"> <img width="60" height="60" src="http://img9.hqbcdn.com/product/5d/9d/5d9d13ec7d323bbfb891e5faf0303d83.60.jpg" alt="" /> </li>
							<li class="" data-src="http://img4.hqbcdn.com/product/07/ca/07cab577fc8029dbbff9074a816a5994.340.jpg"> <img width="60" height="60" src="http://img4.hqbcdn.com/product/07/ca/07cab577fc8029dbbff9074a816a5994.60.jpg" alt="" /> </li>
							<li class="on" data-src="http://img9.hqbcdn.com/product/75/0c/750c3e46664209e94252dfd23f9110f6.340.jpg"> <img width="60" height="60" src="http://img9.hqbcdn.com/product/75/0c/750c3e46664209e94252dfd23f9110f6.60.jpg" alt="" /> </li>
							<li class="" data-src="http://img12.hqbcdn.com/product/33/90/3390b4e23d8e45fa5988a275dbc292c2.340.jpg"> <img width="60" height="60" src="http://img12.hqbcdn.com/product/33/90/3390b4e23d8e45fa5988a275dbc292c2.60.jpg" alt="" /> </li>
						</ul>
					</div>
				</div>
				<div class="share-box cfix">
					<div class="focus">
						<i></i>关注
					</div>
					<div class="share">
						<i></i>分享
						<div class="share-list cfix">
							<span class="wx-btn"></span>
							<span class="sina-btn"></span>
							<b class="arrow"></b>
						</div>
					</div>
					<div class="wx-ewm-box">
						<h3>分享到微信<span class="close-wx">✕</span></h3>
						<div class="wx-ewm">
							<img src="http://img1.hqbcdn.com/misc/images/qrCode1781000127185.png" height="178" width="178" />
						</div>
					</div>
				</div>
				<div class="si-intro" sap-modid="03">
					<div class="si-intro-head">
						<div class="bg"></div>
						<h4 class="si-intro-head-sj"><span>淘机网商家</span></h4>
					</div>
					<div class="si-intro-list">
						<dl>
							<dt>
								商家：
							</dt>
							<dd>
								<a target="_blank" name="shopName">瑞业数码手机专营店</a>
								<script type="text/javascript"> $("#curShopName").attr("title",$("#curShopName").html()); </script>
							</dd>
						</dl>
						<dl>
							<dt>
								联系：
							</dt>
							<dd id="onlineTile">
								<a href="javascript:findpassNewSupplier('000000010555563041','02','0070073461','https://www.suning.com/emall/sprdonline_10052_10051_000000010555563041_0070073461_.html','','','010','0100101','','SNYG','dp','2','01','03','');" id="callmeTile" name="shopEmail" class="contact-me contact-me-self"><i></i>联系客服</a>
							</dd>
						</dl>
						<dl>
							<dt>
								电话：
							</dt>
							<dd>
								<p name="shopTel">0531-86080027</p>
							</dd>
						</dl>
					</div>
					<div class="si-intro-trend lazy-ajax" id="shopScoreTrend" data-type="jsonp">
						<ul>
							<li> <p><span>商品</span></p> <p class="down"><em id="gSatisfy">4.59</em><i></i></p> </li>
							<li> <p><span>服务</span></p> <p class="down"><em id="sSatisfy">4.65</em><i></i></p> </li>
							<li> <p><span>物流</span></p> <p class="down"><em id="dSatisfy">4.68</em><i></i></p> </li>
						</ul>
					</div>
					<div class="si-intro-handle2">
						<a name="item_10555563041_shop_jinru02" href=" //3cruiye.suning.com " sa-data="{'eletp':'shop','shopid':'0070073461'}" class="si-entry" target="_blank" title="进入店铺">进入店铺</a>
						<a name="item_10555563041_shop_shoucang02" class="si-fav" title="关注店铺" href="javascript:FourPage.addShopFavorite();">关注店铺</a>
					</div>
				</div>
			</div>
			<!-- 版本 -->
			<div class="info-v">
				<!-- 商品信息 -->
				<input id="_member_id" type="hidden" value="" />
				<input id="_dsp_cid" type="hidden" value="1512" />
				<input id="_dsp_cat_name" type="hidden" value="" />
				<input id="_dsp_sku_name" type="hidden" value="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 4GB+64GB 蓝色" />
				<input id="_dsp_sku_price" type="hidden" value="1088.00" />
				<input type="hidden" id="sku_id" name="skuId" value="1000127185" sku-stock="500" sku-data-first="1627207:60092" sku-data="1627207:60092" />
				<input type="hidden" value="1000336606" id="goods_id" name="goods_id" />
				<input type="hidden" value="" id="_eventGoodsId" name="eventGoodsId" />
				<input type="hidden" name="stock" value="500" class="stock" />
				<!--E 商品信息 -->
				<div class="v-title">
					<h2> <span class="g-icon g-gn"></span><a name="brand">MI/小米</a>  </h2>
					<p><a id="commodityName" name="commodityName">MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 4GB+64GB 蓝色</a></p>
					<p class="v-a2"></p>
				</div>
				<div class="v-info1 cfix">
					<dl class="cfix">
						<dt>
							商&nbsp;城&nbsp;价:
						</dt>
						<dd>
							<p class="v-price">&yen;<b class="sku-price" name="floorPrice"> 1088.00 </b>
								<del>
									市场价:&yen;1099.00
								</del></p>
							<div class="app-qr">
								<div class="qr-list cfix">
									<div class="qr-icon arrow"></div>
									<div class="qr-item">
										<img width="76" height="76" src="http://s.hqbcdn.com/assets/v4/images/item/qr2.jpg" alt="" /> 华强北商城旗下
										<br /> 精品数码导购APP
									</div>
								</div>
							</div>
						</dd>
						<div class="tips-box cfix">
							<div class="pri-rd"></div>
							<div class="eva-num">
								累计评价
								<p><a href="#comment">0</a></p>
							</div>
						</div>
					</dl>
				</div>
				<div class="v-info2">
					<dl class="cfix">
						<dt class="margin-min">
							关联商品:
						</dt>
						<dd class="margin-min">
							<a class="v-item" href="http://www.okhqb.com/item/1000125622.html">小米 Mix 2S</a>
							<a class="v-item" href="http://www.okhqb.com/item/1000125666.html">小米 6X</a>
							<a class="v-item" href="http://www.okhqb.com/item/1000126209.html">小米 8</a>
							<a class="v-item" href="http://www.okhqb.com/item/1000126225.html">小米 8SE</a>
							<a class="v-item" href="http://www.okhqb.com/item/1000126903.html">小米 Mix 3</a>
							<a class="v-item" href="http://www.okhqb.com/item/1000127078.html">小米 8指纹版</a>
							<a class="v-item" href="http://www.okhqb.com/item/1000127172.html">小米 Max 3</a>
							<a href="http://www.okhqb.com/item/1000127185.html" class="v-item on"> 小米 Play </a>
						</dd>
					</dl>
					<!-- 依据后台类目ID 来判断是否需要组合货源信息-->
					<dl class="cfix">
						<dt class="margin-min">
							版&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本:
						</dt>
						<dd class="margin-min"  name="items">
							<a name="item" class="v-item"> 4GB+64GB 黑色 </a>
							<a title="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 4GB+64GB 蓝色" class="v-item on" href="                                        http://www.okhqb.com/item/1000127185.html
                                        "> 4GB+64GB 蓝色 </a>
							<a title="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 4GB+64GB 金色" class="v-item" href="                                        http://www.okhqb.com/item/1000127186.html
                                        "> 4GB+64GB 金色 </a>
							<a title="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 6GB+64GB 黑色" class="v-item" href="                                        http://www.okhqb.com/item/1000127187.html
                                        "> 6GB+64GB 黑色 </a>
							<a title="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 6GB+64GB 蓝色" class="v-item" href="                                        http://www.okhqb.com/item/1000127188.html
                                        "> 6GB+64GB 蓝色 </a>
							<a title="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 6GB+64GB 金色" class="v-item" href="                                        http://www.okhqb.com/item/1000127189.html
                                        "> 6GB+64GB 金色 </a>
							<a title="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 6GB+128GB 黑色" class="v-item" href="                                        http://www.okhqb.com/item/1000127190.html
                                        "> 6GB+128GB 黑色 </a>
							<a title="MI/小米 小米Play 流光渐变AI双摄 双卡双待 小水滴全面屏拍照游戏智能手机 6GB+128GB 蓝色" class="v-item" href="                                        http://www.okhqb.com/item/1000127191.html
                                        "> 6GB+128GB 蓝色 </a>
						</dd>
					</dl>
					<dl class="cfix">
						<dt>
							分期付款:
						</dt>
						<dd>
							<span class="stag"></span>分期付款最低约
							<i class="stag-num">66.00</i>元/月
						</dd>
					</dl>
					<dl class="cfix">
						<dt>
							数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量:
						</dt>
						<dd>
							<div class="num-box">
								<span class="num-btn less">－</span>
								<input type="text" class="sku-num" value="1" />
								<span class="num-btn plus">＋</span> &nbsp;&nbsp;件
								<i class="num-tips">限购1件</i>
							</div>
						</dd>
					</dl>
					<div class="v-buy">
						<!-- 库存为0 class="add add-over" -->
						<a href="javascript:void(0);" class="add add-on"><i></i>加入购物车</a>
						<!-- 库存为零时 显示到货通知 -->
						<!--<a href="javascript:void(0);" class="add add-rmd">到货提醒</a>-->
					</div>
					<!-- 分期 -->
					<div class="stag-tips">
						<p>本商品支持招商银行信用卡分期付款： <a class="stag-more" href="http://www.okhqb.com/help/index/51_1000000147.html" target="_blank">查看详情说明<i></i></a></p>
						<p class="step-tip"></p>
						<p>示例：</p>
						<div class="stag-steps">
							<p class="stag-row1 cfix"> <span>银行</span> <span>3期</span> <span>6期</span> <span>12期</span> <span>24期</span> </p>
							<p class="stag-row2 cfix"> <span class="bank-icon"><i></i></span> <span>&yen;310.15 <i>x3期</i> </span> <span>&yen;156.58 <i>x6期</i> </span> <span>&yen;79.19 <i>x12期</i> </span> <span>&yen;41.20 <i>x24期</i> </span> </p>
						</div>
						<div class="stag-icon arrow"></div>
					</div>
				</div>
			</div>
			<!-- 推荐 -->
			<div class="info-hot">
				<h2><i>▍</i>看了的人还买了</h2>
				<div class="hot-item">
					<a href="http://www.okhqb.com/item/1000125331.html" target="_blank"><img width="130" height="130" src="http://img3.hqbcdn.com/product/26/be/26be5b4d4b21dffc53d7a3c5a77954d7.124.jpg" alt="" /></a>
					<a href="http://www.okhqb.com/item/1000125331.html?ad=r1_1000125331" target="_blank" class="hot-t1">Apple/苹果 iPhone...</a>
					<p>&yen; 6099 </p>
				</div>
				<div class="hot-item">
					<a href="http://www.okhqb.com/item/1000125430.html" target="_blank"><img width="130" height="130" src="http://img5.hqbcdn.com/product/01/86/0186f4c8a53a4b27eab07c1917684afe.124.jpg" alt="" /></a>
					<a href="http://www.okhqb.com/item/1000125430.html?ad=r1_1000125430" target="_blank" class="hot-t1">Apple/苹果 iPhone...</a>
					<p>&yen; 5888 </p>
				</div>
				<div class="hot-item">
					<a href="http://www.okhqb.com/item/1000125583.html" target="_blank"><img width="130" height="130" src="http://img3.hqbcdn.com/product/b6/a6/b6a6a56b4d91bdfb0923be151e468456.124.png" alt="" /></a>
					<a href="http://www.okhqb.com/item/1000125583.html?ad=r1_1000125583" target="_blank" class="hot-t1">vivo X21 全面屏 双摄...</a>
					<p>&yen; 2099 </p>
				</div>
			</div>
		</div>



	</div>
	</form>
	<div class="I-dt w-1200 cfix">
		<!-- 内容 -->
		<div class="dt-left">
			<div class="dt-nav">
				<a href="javascript:void(0);" class="dt-tap on"><span class="dt-icon1"></span>购物保障</a>
				<a href="javascript:void(0);" class="dt-tap"><span class="dt-icon2"></span>规格参数</a>
				<a href="javascript:void(0);" class="dt-tap"><span class="dt-icon3"></span>详情描述</a>
				<a href="javascript:void(0);" class="dt-tap"><span class="dt-icon4"></span>评价详情</a>
			</div>
			<div class="dt-sec">

				<!-- 新改 20160824 -->
				<div class="honor-wall cfix">
					<div class="honor-nav">
						<a href="javascript:;" class="honor-item">售后保障</a>
						<a href="javascript:;" class="honor-item on">万千信赖</a>
						<a href="javascript:;" class="honor-item">公司荣誉</a>
						<a href="javascript:;" class="honor-item">政府支持</a>
					</div>
					<div class="honor-list">
						<img width="930" height="498" src="http://s.hqbcdn.com/assets/v4/images/item/shouhou.jpg" alt="" style="display: none;">
						<img width="930" height="498" src="http://s.hqbcdn.com/assets/v4/images/item/xinlai.jpg" alt="" style="display: block;">
						<img width="930" height="498" src="http://s.hqbcdn.com/assets/v4/images/item/rongyu.jpg" alt="" style="display: none;">
						<img width="930" height="498" src="http://s.hqbcdn.com/assets/v4/images/item/zhichi.jpg" alt="" style="display: none;">
					</div>
				</div>
				<!-- 如果是苹果则显示 苹果售后服务 -->

			</div>
			<div class="dt-sec">
				<h2>▍规格参数</h2>
				<div class="dt-con">
					<table class="cs_tab">
						<tbody><tr>
							<td class="td_tit" >品牌</td>
							<td>
								<a name="brand" href="http://www.okhqb.com/list/137-2440_1300009820.html" target="_blank">MI/小米</a>
							</td>
							<td class="td_tit">型号</td>
							<td name="model">小米Play</td>
							<td class="td_tit">CPU</td>
							<td name="cPUModel">全面屏</td>
						</tr>
						<tr>
							<td class="td_tit">操作系统</td>
							<td name="mobileOperatingSystem">
								以官网信息为准
							</td>
							<td class="td_tit">摄像头</td>
							<td name="rearCamera">800万像素</td>
							<td class="td_tit">屏幕大小</td>
							<td name="screenSize">MicroSD(TF)</td>
						</tr>
						<tr>
							<td class="td_tit">网络制式</td>
							<td name="_4GNetworkSystem">
								移动/联通2G/3G/4G
							</td>
							<td class="td_tit">CPU频率</td>
							<td name="CPUFrequency">以官网信息为准</td>
							<td class="td_tit">SIM卡个数</td>
							<td name="SIMCardSize">Nano SIM（小卡）</td>
						</tr>
						<tr>
							<td class="td_tit">商品清单</td>
							<td colspan="5" name="packingList">手机主机*1、 电源适配器*1、USB 数据线*1、定制SIM卡（仅限4+64版本）*1、定制卡附属手册（仅限4+64版本）*1、插针*1、 三包凭证/入门指南*1、手机保护套*1</td>
						</tr>
						</tbody></table>
				</div>
			</div>
			<div class="dt-sec">
				<h2 class="more-h2">▍详情描述</h2>
				<div class="dt-con description" name="srcs"><img name="src" src="http://img8.hqbcdn.com/thumbs/product/29/34/29341b3c5543a2cf8538c794ffd93fa2.jpg" alt=""><img src="http://img12.hqbcdn.com/thumbs/product/18/1d/181d83061b787e818474e1a5b1b6dee6.jpg" alt=""><img src="http://img2.hqbcdn.com/thumbs/product/6e/58/6e58ee5f1b6f936c3c5e961ccc50ecfa.jpg" alt=""><img src="http://img15.hqbcdn.com/thumbs/product/88/70/8870288e48e9a39bc1d23d9f97c76aaf.jpg" alt=""><img src="http://img15.hqbcdn.com/thumbs/product/3f/35/3f35b98092eb88252f07b08b945505f1.jpg" alt=""><img src="http://img12.hqbcdn.com/thumbs/product/b9/8b/b98b673f264b3f4d3089e629c8cf480f.jpg" alt=""></div>
			</div>
			<div class="dt-sec" id="comment">
				<h2>▍评价详情</h2>
				<div class="dt-com">
					<div class="com-h">暂无评价</div>
					<ul class="com-ul">

					</ul>
				</div>
				<div class="more-com">
				</div>
			</div>
		</div>
		<!-- 浏览过的商品 -->
		<div class="dt-right">
			<h2><i>▍</i>您浏览过的商品</h2>
			<ul>

			</ul>
		</div>
	</div>
	<!-- footer -->
	<footer class="mt20 center">
			
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> 
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>

		</footer>

	</body>
</html>